#*#
*~
*.a
*conan*.sh
*.conf
*.d
doc/html
doc/latex
doc/man
*.exe
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
generated_html
*.info
*info.txt
*.json
*.lock
!flake.lock
*.o
*.out
*.pc
!/libo2s.pc
*.so

result*
/.zig-cache/
/zig-out/
/out/
sonar-project.properties
.scannerwork/