#*#
*~
*.a
*conan*.sh
*.conf
*.d
doc/html
doc/latex
doc/man
*.exe
!flake.lock
*.gcda
*.gcno
*.gcov
generated_html
*.info
*info.txt
*.json
!libo2s.pc
*.lock
*.o
*.out
out
*.pc
*.profdata
*.profraw
result*
.scannerwork
*.so
sonar-project.properties
.zig-cache
zig-out
